* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

#container-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 90vh;
  height: auto;
}

.left-content {
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  min-height: 90vh;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.right-content {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  max-width: 700px;
}

.right-content span {
  font-size: 22px;
  font-weight: bold;
  color: rgb(18, 173, 238);
  margin-top: 50px;
}

.tab-header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
}

.slider-item {
  border: 1px solid black;
  width: 150px;
}

.slider-item {
  cursor: pointer;
}

.slider-form-item {
  background-color: #fff;
  height: 500px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slide-button-arrow {
  cursor: pointer;
  color: rgb(18, 173, 238);
}

.slider-item-container {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
}

.slider-form-container {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(10, 700px);
  background-color: #9a9a9a;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-top: 50px;
  overflow-x: auto;
}

.slider-item-container {
  width: 500px;
}

.slider-form-container::-webkit-scrollbar,
.slider-item-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 320px) and (max-width: 413.98px) {
  #container-slide {
    flex-direction: column;
  }
  .slider-item-container {
    width: 250px;
  }
  .slider-item {
    width: 100px;
  }
}