* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.slider-item {
  border: 1px solid black;
}

.slider-item,
.slider-form-item {
  width: 150px;
  cursor: pointer;
}

.slide-button-arrow {
  cursor: pointer;
  color: rgb(18, 173, 238);
}

.slider-form-container,
.slider-item-container {
  width: 500px;
}

.slider-form-container::-webkit-scrollbar,
.slider-item-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 320px) and (max-width: 413.98px) {
  #container-slide {
    flex-direction: column;
  }
  .slider-item-container {
    width: 250px;
  }
  .slider-item {
    width: 100px;
  }
}