* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #c56cf0;
  font-size: 80px;
}
#root {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #61dafb;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.rightDiv {
  background-color:#61dafb;
  color: #c56cf0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.rightDiv {
  position: absolute;
  right: 0;
  overflow: hidden;
 }
.leftContent {
  position: absolute;
  margin-left: 50%;
}
span {
  display: inline-block;
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  100% {
    transform: translateX(-100%);
  }
}