* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #eaffae;
}
#root {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(229, 83, 83);
}
.leftContent {
  position: absolute;
  font-size: 80px;
  margin-left: 50%;
  z-index: -9;
}
.rightDiv {
  z-index: 99;
  background-color: rgb(229, 83, 83);
  color: #eaffae;
  position: absolute;
  right: 0;
  width: 50%;
  font-size: 80px;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: start;
}
span,
.rightDivContent {
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  100% {
    transform: translateX(-100%);
  }
}