* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
header {
  padding: 30px 20px;
  background: #001524;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  color: #FFFFFF;
}
.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
nav li {
  padding: 5px 10px;
  border: none;
  display: inline-block;
  padding: 5px;
  transition: all linear 0.5s;
  margin-right: 20px;
  border-radius: 10px;
}
nav li a {
  text-decoration: none;
  color: #FFFFFF;;
  font-weight: 500;
  padding: 5px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
section h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  color: #fff;
  text-shadow: 5px 10px 5px rgba(0,0,0,.5);
}
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('_img/img1.jpg') no-repeat center center/cover;
}
#sobre {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('_img/img2.jpg') no-repeat center center/cover;
}
#servicos {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('_img/img3.jpg') no-repeat center center/cover;
}
#preco {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('_img/img4.jpg') no-repeat center center/cover;
}
#contato {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('_img/img5.jpg') no-repeat center center/cover;
}
.active {
  background: #3498DB;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}