:root {
  --background-Page: rgb(42, 42, 185);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-Page);
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .card-list {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}

.slider-wrapper .card-list::-webkit-scrollbar {
  display: none;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Slide Buttons */

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background-color: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 2;
}

#prev-slide {
  left: -20px;
}

#next-slide {
  right: -20px;
}

.slider-wrapper .slide-button:hover {
  background-color: #444;
}