:root {
  --background-Page: rgb(42, 42, 185);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-Page);
}

.slider-wrapper .card-list {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}

.slider-wrapper .card-list::-webkit-scrollbar {
  display: none;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}