/* Customizing the scrollbar */
.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background-color: #ccc;
  /* background-color: red; */
  position: relative;
  border-radius: 4px;
}

/* Increase all the scrollbar height when hovering it */
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

/* The thumb we can scroll */
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: black;
  border-radius: inherit;
  cursor: grab;
}

/* Increase only thumb size when we click on it */
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

/* Increase the thumb area we can grab */
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute; 
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}