div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20rem;
    height: 20rem;
    color: #fff;
    border-radius: 30%;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
    );
}
div:before {
    content: "";
    border: 1rem solid;
    border-radius: 30%;
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    inset: 0;
    margin: auto;
}
div:after {
    content: "";
    border: 1rem solid;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    position: absolute;
    inset: 0;
    margin: auto;
}
span {
    border: 1rem solid;
    border-radius: 100%;
    position: absolute;
    top: 6rem;
    right: 6rem;
}